* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "head head"
    "nav  main"
    "foot  foot";
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 200px 1fr;
  overflow: hidden;
}

.header {
  grid-area: head;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
.sidenav {
  grid-area: nav;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}
.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: coral;
}
.footer {
  grid-area: foot;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}
